.gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
   gap:20PX;
   margin:30px;
   margin-top: 100px;

   
    
}
div{
    text-align: center;
    font-size: x-large;
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 217, 255);
    color: aliceblue;

}
.grid1{
    grid-column-start:1 ;
    grid-column-end:5 ;
    
}
.grid5{
    grid-column-start: 4;
     grid-row-start: 4;
     grid-row-end: 7;

}

.display{
    width: 450px;
    height: 40px;
    
}
.grid5{
    font-size: x-large;
    
}
.grid10{
     font-size: x-large;
}
